**/*.pyc
**/*.DS_Store
__pycache__/*

.vscode/

sanne_test.py
charlotte.py

output.csv
data/output.csv
protein.txt
data/proteins.txt

charlotte.log
charlotte_*.log
charlotte_pickles/*
notes_charlotte.txt

thomas.log
thomas_*.log

