**/*.pyc
**/*.DS_Store
sanne_test.py
__pycache__/*

.vscode/

output.csv
protein.txt
charlotte.log
thomas.log
notes_charlotte.txt
data/output.csv
data/proteins.txt
data/output.csv
charlotte_pickles/*
charlotte_12_17_37.log
charlotte_*.log
data/proteins.txt
data/output.csv
